{% extends 'base.html.twig' %}

{% block contenido %}
     <div class="col-md-12">
          <div class="col-middle">
            <div class="text-center">
              <h1 class="error-number">500</h1>
              <h2>Error Interno del Servidor</h2>
              <p>Seguimos estos errores automáticamente, pero si el problema persiste no dude en contactar con nosotros. Mientras tanto, trate de refrescar. <a href="{{ path('homepage') }}">Ir a la página de Inicio</a>
              </p>              
            </div>
          </div>
        </div>
{% endblock %}
