{% extends 'base.html.twig' %}

{% block contenido %}
    <div class="col-md-12">
          <div class="col-middle">
            <div class="text-center text-center">
              <h1 class="error-number">404</h1>
              <h2>Lo sentimos pero no hemos podido encontrar esta p치gina</h2>
              <p>Esta p치gina que est치s buscando no existe <a href="{{ path('homepage') }}">Ir a la p치gina de Inicio</a>
              </p>              
            </div>
          </div>
        </div>
{% endblock %}
