{% extends "base.html.twig" %}
{% block title %} Usuarios {% endblock %}
{% block Subtitulo %} Perfil -  <small> <a href="{{ path('homepage') }}">Inicio</a></small> {% endblock %} 
{% block body %}
    {% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock body %}