{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Sistema USSI</span> </h1>
                <h2>{{ "now"|date("m/d/Y h:m:s") }}</h2>
		<p> <strong>Alcanzar el éxito requiere de las mejores herramientas</strong> - Desarrollado bajo el framework Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</p>
            </div>
        </div>
    </div>
{% endblock %}