{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Bienvenidos </span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
                <h2>{{ "now"|date("m/d/Y h:m:s") }}</h2>
            </div>

            
            

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
