{% extends "base.html.twig" %}
{% block title %} Usuarios {% endblock %}
{% block Subtitulo %} Cambio Contraseña  -  <small> <a href="{{ path('homepage') }}">Inicio</a></small> {% endblock %} 
{% block body %}
    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock body %}
