{% extends 'base.html.twig' %}

{% block body %}
   
    <h1>Cita Servicios</h1>

    <div class="x_content">
        <br>
        <h2>Cita Planificada</h2>

    </div>

    <ul>
        <li>
            <a href="{{ path('cita_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
